.vscode
node_modules
webview-ui/node_modules
webview-ui/src
webview-ui/.gitignore
webview-ui/eslint.config.js
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/tsconfig.tsbuildinfo
webview-ui/README.md
webview-ui/public
webview-ui/out
codesail-server/target
codesail-server/src
codesail-server/Cargo.toml
codesail-server/Cargo.lock
src
*.log
.env
.env.*
*.vsix
codesail_app.png
