@import "tailwindcss";

:root {
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
  --traycer-toolbar-height: 50px;
  --traycer-input-box-height: 30px;
  --traycer-search-input-height: 34px;
  --intentional-margin: 0px;
  --border: var(--color-border, #0000001a);
  --traycer-logo-color: #333333;
}

body,
html {
  margin: 0;
  padding: 0 5px !important;
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  line-height: inherit;
  background-color: var(--vscode-editor-background);
}

body.vscode-dark {
  --color-border: #ffffff1a;
  --traycer-logo-color: #eeeeee;
}

body.vscode-light {
  --color-border: #0000001a;
  --traycer-logo-color: #333333;
}

#root {
  height: 100vh;
  overflow: hidden;
}

ol,
ul {
  padding-left: 0;
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

button:focus-visible {
  outline-color: var(--vscode-focusBorder);
}

input {
  border: 1px solid var(--border);
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
}

textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.border-border {
  border-color: var(--border) !important;
}

.text-text-primary {
  color: var(--vscode-foreground);
}

.text-textSecondary,
.text-text-secondary {
  color: var(--vscode-descriptionForeground);
}

.font-heading {
  font-family: var(--vscode-font-family);
}

.tiptap-editor p {
  margin: 0;
}

.tiptap-editor .is-empty::before {
  color: var(--vscode-input-placeholderForeground);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}
